*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	color:black;
}

body{
	margin: 0;
}

#bar{
	width: 100%;
	height: 60px;
	background-color: black;
	bottom: 100%;
	margin: 0;
}

#title{
	color: white;
	margin: 0;
	line-height: 60px;
	text-indent: 50px;
	font-family: "Audiowide";
}

.gameText{
	position:fixed;

	font-size:32px;
	font-family:"sans-serif";

	top:50%;
	left:50%;
	width:1000px;
	line-height:50px;
	transform:translateY(-26px) translateX(-500px);
	-webkit-transform:translateY(-26px) translateX(-500px);
	-moz-transform:translateY(-26px) translateX(-500px);
	text-align:center;
}

.box{
	width: 25%;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px;
}

.decision_text{
	font-family: "sans-serif";
	font-size: 20px;
	text-align: center;
	text-indent: 5px;
}


#myCanvas {
  /* Set rules to fill background */
  z-index:-10;
  min-height:100%;
  min-width: 1024px;
  background-color:black;
  opacity:1;
	
  /* Set up proportionate scaling */
  width: 100%;
  height:auto;
	
  /* Set up positioning */
  position:fixed;
  top: 0;
  left: 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



